Repository unikraft/kraftkit, pull requests merged in 2022-11, with the labels that each got.

#129 cmd/build: Run the prepare step before building
  cmd/kraft/build/build.go
  unikraft/app/application.go
  unikraft/app/build_options.go
Labels: area/cmd

#131 Add `LICENSE.md`
  LICENSE.md
Labels: area/docs

#124 Add `kraft.yaml` templating
  cmd/kraft/build/build.go
  cmd/kraft/pkg/pkg.go
  cmd/kraft/pkg/pull/pull.go
  schema/kraft-spec.json
  schema/loader.go
  schema/normalize.go
  schema/project.go
  unikraft/app/application.go
  unikraft/app/options.go
  unikraft/component/component.go
  unikraft/config/config.go
  unikraft/template/template.go
Labels: kind/enhancement
