Repository unikraft/kraftkit, pull requests merged in 2022-12, with the labels that each got.

#165 Fix setting correct KConfig options in short arch switch
  unikraft/arch/architecture.go
Labels: kind/fix

#166 Change the default target name to the standard kernel name
  unikraft/app/loader.go
Labels: kind/fix

#169 Small corrections to README.md to reduce distractions while reading.
  README.md
Labels: area/docs

#170 internal/cli: Fix flag parsing from cli
  internal/cli/builder.go
Labels: kind/fix

#164 Expose CLI builder package as public package
  cmd/kraft/build/build.go
  cmd/kraft/clean/clean.go
  cmd/kraft/configure/configure.go
  cmd/kraft/events/events.go
  cmd/kraft/fetch/fetch.go
  cmd/kraft/kraft.go
  cmd/kraft/menu/menu.go
  cmd/kraft/pkg/list/list.go
  cmd/kraft/pkg/pkg.go
  cmd/kraft/pkg/pull/pull.go
  cmd/kraft/pkg/source/source.go
  cmd/kraft/pkg/update/update.go
  cmd/kraft/prepare/prepare.go
  cmd/kraft/properclean/properclean.go
  cmd/kraft/ps/ps.go
  cmd/kraft/rm/rm.go
  cmd/kraft/run/run.go
  cmd/kraft/set/set.go
  cmd/kraft/stop/stop.go
  cmd/kraft/unset/unset.go
  cmdfactory/args.go
  cmdfactory/builder.go
  cmdfactory/errors.go
  cmdfactory/flags.go
  cmdfactory/flags_bool.go
  cmdfactory/flags_enum.go
  cmdfactory/flags_string.go
  cmdfactory/help.go
  cmdfactory/options.go
  manifest/manager.go
Labels: kind/enhancement

#173 Simplify application creation API and fix target naming
  cmd/kraft/build/build.go
  cmd/kraft/clean/clean.go
  cmd/kraft/configure/configure.go
  cmd/kraft/fetch/fetch.go
  cmd/kraft/menu/menu.go
  cmd/kraft/pkg/list/list.go
  cmd/kraft/pkg/pkg.go
  cmd/kraft/pkg/pull/pull.go
  cmd/kraft/prepare/prepare.go
  cmd/kraft/properclean/properclean.go
  cmd/kraft/run/run.go
  cmd/kraft/set/set.go
  cmd/kraft/unset/unset.go
  unikraft/app/application.go
  unikraft/app/application_options.go
  unikraft/app/loader.go
  unikraft/app/merge.go
  unikraft/app/options.go
  unikraft/app/project.go
  unikraft/app/project_options.go
  unikraft/config/config.go
  unikraft/target/target.go
  unikraft/type.go
  unikraft/unikraft.go
Labels: kind/maintenance, kind/fix

#174 Fix setting the hypervisor in `kraft run`
  cmd/kraft/run/run.go
Labels: kind/fix
