Repository unikraft/kraftkit, pull requests merged in 2023-01, with the labels that each got.

#162 cmd/kraft, machine/qemu: Fix reduntant error checks
  cmd/kraft/pkg/pull/pull.go
  cmd/kraft/pkg/source/source.go
  cmd/kraft/pkg/update/update.go
  machine/qemu/qemu.go
Labels: kind/maintenance

#187 cmd/kraft: Error on no target arch/plat
  cmd/kraft/build/build.go
Labels: kind/fix

#206 cmd/kraft: Show the program version in the main help menu
  cmd/kraft/kraft.go
Labels: kind/enhancement

#202 Add new remote flag types
  cmdfactory/flags.go
  cmdfactory/flags_bool.go
  cmdfactory/flags_string.go
Labels: kind/enhancement

#205 Pass KraftKit config as global CLI flags
  cmd/kraft/kraft.go
  cmdfactory/builder.go
  cmdfactory/options.go
  config/config.go
  config/defaults.go
Labels: kind/enhancement
