Repository unikraft/kraftkit, pull requests merged in 2023-04, with the labels that each got.

#315 refactor!: Adjust `Package` and `PackageManager` usage
  cmd/kraft/kraft.go
  cmd/kraft/pkg/list/list.go
  cmd/kraft/pkg/pkg.go
  cmd/kraft/pkg/pull/pull.go
  cmd/kraft/pkg/source/source.go
  cmd/kraft/pkg/unsource/unsource.go
  cmd/kraft/pkg/update/update.go
  internal/cli/options.go
  manifest/manager.go
  manifest/pack.go
  pack/package.go
  packmanager/manager.go
  packmanager/pack_options.go
  packmanager/umbrella.go
  unikraft/target/target.go
Labels: area/cmd, area/manifest, kind/refactor, area/pack, area/packmanager

#330 feat: Converge value of HTTP `User-Agent` header
  internal/httpclient/httpclient.go
  internal/update/update.go
  internal/version/version.go
  manifest/index.go
  manifest/manifest.go
Labels: area/docs, kind/maintenance, area/internal

#331 fix(packmanager): Do not error-out when initializing package manager
  packmanager/umbrella.go
Labels: kind/fix, area/packmanager

#329 fix(exec): Ensure pointer flags are correctly checked
  exec/executable.go
Labels: kind/fix

#332 fix: target kconfig
  cmd/kraft/build/build.go
  cmd/kraft/pkg/pull/pull.go
  cmd/kraft/run/run.go
  kconfig/config.go
  unikraft/app/application.go
  unikraft/app/merge.go
  unikraft/app/project.go
  unikraft/app/project_options.go
  unikraft/target/target.go
Labels: kind/fix, area/kconfig

#337 fix(tui): Small fixes
  go.mod
  go.sum
  tui/paraprogress/paraprogress.go
  tui/paraprogress/process.go
  tui/processtree/processtree.go
Labels: kind/enhancement, kind/fix, area/tui

#341 feat(pkg): Additional options and fixes to `kraft pkg`
  cmd/kraft/pkg/pkg.go
Labels: kind/enhancement, area/cmd, kind/fix

#342 fix(list): Set `NoCache` when update flag (`-u`) is set
  cmd/kraft/pkg/list/list.go
Labels: area/cmd, kind/fix

#340 docs(readme): add latest release badge
  README.md
Labels: area/docs, kind/enhancement

#345 feat: Add information about container build environment
  README.md
  buildenvs/base.Dockerfile
Labels: area/docs, kind/enhancement, area/buildenvs

#344 feat(manifest): Check if the provided source is a component "Nameable"
  manifest/manager.go
Labels: kind/fix, area/manifest

#343 fix!: kraft pkg pull
  cmd/kraft/pkg/pull/pull.go
Labels: cmd/kraft/pkg, area/cmd, kind/fix

#346 fix(packmanager): Skip catalog queries if error
  packmanager/umbrella.go
Labels: kind/fix, area/packmanager

#347 fix(pull): Fix nil pointer exception when no args are specified
  cmd/kraft/pkg/pull/pull.go
Labels: cmd/kraft/pkg, area/cmd, kind/fix

#348 fix(unikraft): Correctly handle type conversion
  unikraft/context.go
Labels: kind/fix, area/unikraft

#339 feat: Introduce OCI package manager
  cmd/kraft/kraft.go
  config/config.go
  go.mod
  go.sum
  go.work.sum
  oci/annotations.go
  oci/blob.go
  oci/blob_options.go
  oci/handler/containerd.go
  oci/handler/handler.go
  oci/handler/jobs.go
  oci/image.go
  oci/image_options.go
  oci/layer.go
  oci/layer_options.go
  oci/manager.go
  oci/mediatypes.go
  oci/oci.go
  oci/pack.go
  oci/wellknown.go
Labels: kind/enhancement, area/oci

#311 fix(workflows): Rename workflows to be more descriptive
  .github/workflows/base.yaml
  .github/workflows/build.yaml
  .github/workflows/gobuild-protoc.yaml
  .github/workflows/gobuild-qemu-devices.yaml
  .github/workflows/gochecks.yaml
  .github/workflows/myself-full.yaml
  .github/workflows/myself.yaml
  .github/workflows/release-stable.yaml
  .github/workflows/release-staging.yaml
Labels: kind/fix, area/.github, area/.github/workflows

#353 fix(workflows): Add more skip checks for dependabot
  .github/workflows/commit-format-check.yaml
Labels: kind/fix, area/.github, area/.github/workflows

#354 fix(workflows): Fix invalid YAML with empty `env:` attribute
  .github/workflows/base.yaml
Labels: kind/fix, area/.github, area/.github/workflows

#355 fix: misc workflows
  .github/workflows/base.yaml
  .github/workflows/myself-full.yaml
  .github/workflows/myself.yaml
Labels: kind/fix, area/.github, area/.github/workflows

#356 fix(workflows): Set registry for base iamges
  .github/workflows/base.yaml
Labels: kind/fix, area/.github, area/.github/workflows

#357 fix(workflows): Correct access to matrix variable in QEMU workflow
  .github/workflows/base.yaml
Labels: kind/fix, area/.github, area/.github/workflows

#369 fix(help): remove build subcommand in examples
  cmd/kraft/clean/clean.go
  cmd/kraft/fetch/fetch.go
  cmd/kraft/menu/menu.go
  cmd/kraft/prepare/prepare.go
  cmd/kraft/properclean/properclean.go
  cmd/kraft/set/set.go
  cmd/kraft/unset/unset.go
Labels: area/docs, cmd/kraft/build, area/cmd, kind/fix

#371 fix(kraft): Provide access to PackageManager in relevant commands
  cmd/kraft/build/build.go
  cmd/kraft/clean/clean.go
  cmd/kraft/fetch/fetch.go
  cmd/kraft/kraft.go
  cmd/kraft/menu/menu.go
  cmd/kraft/pkg/list/list.go
  cmd/kraft/pkg/pkg.go
  cmd/kraft/pkg/pull/pull.go
  cmd/kraft/pkg/source/source.go
  cmd/kraft/pkg/unsource/unsource.go
  cmd/kraft/pkg/update/update.go
  cmd/kraft/prepare/prepare.go
  cmd/kraft/properclean/properclean.go
  cmd/kraft/run/run.go
  cmd/kraft/set/set.go
  cmd/kraft/unset/unset.go
Labels: area/cmd, kind/fix

#374 build(deps): update go.work.sum
  go.work.sum
Labels: kind/maintenance

#373 refactor: Adjust target selection mechanics
  cmd/kraft/build/build.go
  cmd/kraft/prepare/prepare.go
  cmd/kraft/run/run.go
  internal/cli/target.go
  unikraft/app/application.go
Labels: area/cmd, kind/maintenance, kind/fix, area/internal

#377 fix(ci): clean up dependabot config
  .github/dependabot.yml
Labels: kind/fix, area/.github, area/.github/workflows

#387 fix(kraft): Use CLI target-selection features
  cmd/kraft/fetch/fetch.go
  cmd/kraft/menu/menu.go
  cmd/kraft/prepare/prepare.go
Labels: area/cmd, kind/fix

#388 fix(help): description of config-dir parameter
  config/config.go
Labels: area/docs, kind/fix, area/config

#389 fix(paraprogress): Set the log-level in each subprocess terminal
  tui/paraprogress/paraprogress.go
Labels: kind/fix, area/tui

#391 fix: manifest for directories
  manifest/directory.go
  manifest/manager.go
  manifest/provider.go
Labels: kind/fix, area/manifest, area/packmanager

#392 test(e2e): add initial CLI tests
  .github/workflows/e2e-cli.yaml
  go.mod
  go.sum
  go.work.sum
  hack/tools.go
  test/e2e/cli/cli_suite_test.go
  test/e2e/cli/version_test.go
  test/e2e/framework/cmd/cmd.go
Labels: kind/test, area/test

#390 feat: Add basic login method
  cmd/kraft/kraft.go
  cmd/kraft/login/login.go
Labels: kind/enhancement, area/cmd

#394 feat(unikraft): Add component constructors
  unikraft/core/core.go
  unikraft/core/options.go
  unikraft/plat/options.go
  unikraft/plat/platform.go
  unikraft/target/options.go
  unikraft/target/target.go
  unikraft/template/options.go
  unikraft/template/template.go
Labels: kind/enhancement, area/unikraft

#410 ci(e2e): install kraft using make
  .github/workflows/e2e-cli.yaml
Labels: kind/fix, area/.github, area/.github/workflows

#407 build: remove Go workspace files
  .gitignore
  go.mod
  go.work
  go.work.sum
Labels: kind/maintenance, kind/fix

#416 test(e2e): pretty-print ExitError on cmd failure
  test/e2e/cli/version_test.go
  test/e2e/framework/cmd/cmd.go
Labels: kind/enhancement, area/test

#420 ci: clean up workflow files
  .github/workflows/actcheck.yaml
  .github/workflows/e2e-cli.yaml
  .github/workflows/gochecks.yaml
  .github/workflows/release-stable.yaml
Labels: kind/maintenance, area/.github/workflows

#414 fix(lint): address unchecked errors
  .golangci.yaml
  archive/unarchive.go
  cmd/kraft/build/build.go
  cmd/kraft/clean/clean.go
  cmd/kraft/events/events.go
  cmd/kraft/fetch/fetch.go
  cmd/kraft/kraft.go
  cmd/kraft/login/login.go
  cmd/kraft/logs/logs.go
  cmd/kraft/menu/menu.go
  cmd/kraft/pkg/list/list.go
  cmd/kraft/pkg/pkg.go
  cmd/kraft/pkg/pull/pull.go
  cmd/kraft/pkg/source/source.go
  cmd/kraft/pkg/unsource/unsource.go
  cmd/kraft/pkg/update/update.go
  cmd/kraft/prepare/prepare.go
  cmd/kraft/properclean/properclean.go
  cmd/kraft/ps/ps.go
  cmd/kraft/rm/rm.go
  cmd/kraft/run/run.go
  cmd/kraft/set/set.go
  cmd/kraft/stop/stop.go
  cmd/kraft/unset/unset.go
  cmd/kraft/version/version.go
  cmdfactory/builder.go
  config/feeder_yaml.go
  internal/cli/options.go
  iostreams/iostreams_test.go
  machine/qemu/qemu.go
  machine/store.go
  oci/handler/containerd.go
  oci/oci.go
  tui/processtree/processtree.go
  tui/processtree/update.go
  tui/processtree/view.go
  unikraft/app/application.go
  unikraft/app/normalize.go
  unikraft/app/project_options.go
  unikraft/lib/library.go
Labels: kind/maintenance, kind/fix

#426 fix(cmd): unknown flag due to children traversal
  cmdfactory/builder.go
  internal/cli/options.go
Labels: kind/fix, area/cmdfactory

#405 test(e2e): add CLI test for pkg update
  .github/workflows/e2e-cli.yaml
  test/e2e/cli/pkg_test.go
  test/e2e/cli/version_test.go
  test/e2e/framework/matchers/be_empty_dir.go
  test/e2e/framework/matchers/be_empty_dir_test.go
  test/e2e/framework/matchers/contain_dirs.go
  test/e2e/framework/matchers/contain_dirs_test.go
  test/e2e/framework/matchers/contain_files.go
  test/e2e/framework/matchers/contain_files_test.go
  test/e2e/framework/matchers/matchers.go
Labels: kind/enhancement, area/test

#427 fix(cmd): filter out registered flags before parse
  cmdfactory/builder.go
  cmdfactory/builder_test.go
Labels: kind/fix

#435 fix(lint): remove unused parameters
  .golangci.yaml
  archive/archive.go
  cmdfactory/args.go
  cmdfactory/help.go
  internal/cli/options.go
  internal/httpclient/httpclient.go
  kconfig/config.go
  machine/qemu/qemu.go
  manifest/git.go
  manifest/index.go
  manifest/manager.go
  manifest/pack.go
  manifest/pack_pull_git.go
  oci/handler/containerd.go
  unikraft/app/normalize.go
  unikraft/app/project.go
  unikraft/app/transform.go
Labels: kind/maintenance

#439 feat(set): improve string set implementation
  internal/set/string_set.go
  utils/utils.go
Labels: kind/enhancement, area/internal

#438 fix(cmd): properly check for help flag in args
  cmdfactory/help.go
  test/e2e/cli/version_test.go
Labels: kind/fix, area/cmdfactory

#436 refactor(cmd): use internal set package
  cmdfactory/builder.go
Labels: area/cmdfactory

#441 ci: cache libgit2 install
  .github/workflows/gochecks.yaml
  .github/workflows/gotests.yaml
Labels: kind/enhancement, area/.github, area/.github/workflows

#450 fix(ci): build tools in their respective module
  .github/workflows/gobuild-protoc.yaml
  .github/workflows/gobuild-qemu-devices.yaml
Labels: kind/fix, area/.github/workflows

#451 ci: determine cache locations from 'go env'
  .github/workflows/gobuild-protoc.yaml
  .github/workflows/gobuild-qemu-devices.yaml
  .github/workflows/gochecks.yaml
  .github/workflows/gotests.yaml
Labels: kind/maintenance, area/.github/workflows

#443 ci: run workflows on merge to the default branch
  .github/workflows/gobuild-protoc.yaml
  .github/workflows/gobuild-qemu-devices.yaml
  .github/workflows/gochecks.yaml
  .github/workflows/gotests.yaml
Labels: kind/enhancement, kind/maintenance, area/.github/workflows
