Repository unikraft/kraftkit, pull requests merged in 2023-11, with the labels that each got.

#948 fix(manifest): Close file before renaming
  manifest/pack_pull_archive.go
Labels: kind/fix, area/manifest

#966 fix(qemu): Hide preamble only for x86_64
  machine/qemu/v1alpha1.go
Labels: kind/fix, area/machine

#957 fix(initrd): Several small fixes
  initrd/directory.go
Labels: kind/enhancement, area/initrd

#975 fix(cli): Hide fetch command until rework
  internal/cli/kraft/fetch/fetch.go
Labels: area/internal

#954 feat(action): Add option to inject scripts to use kraft
  action.yml
  buildenvs/github-action.Dockerfile
  tools/github-action/execute.go
  tools/github-action/main.go
Labels: kind/enhancement, github_actions

#1004 fix(action): Force shebang setting
  action.yml
Labels: kind/fix, github_actions

#1002 feat(internal): Add deprecated message warning
  internal/cli/kraft/events/events.go
  internal/cli/kraft/fetch/fetch.go
  internal/cli/kraft/set/set.go
  internal/cli/kraft/unset/unset.go
Labels: kind/enhancement, area/internal

#1000 fix(internal): Filter targets before processing
  internal/cli/kraft/menu/menu.go
Labels: kind/fix, area/internal

#1019 fix(build): Always initialize project
  internal/cli/kraft/build/build.go
Labels: kind/fix
