Repository unikraft/kraftkit, pull requests merged in 2023-05, with the labels that each got.

#453 ci: fix missing go.mod hash in cache key
  .github/workflows/gobuild-protoc.yaml
  .github/workflows/gobuild-qemu-devices.yaml
  .github/workflows/gochecks.yaml
  .github/workflows/gotests.yaml
Labels: kind/fix, area/.github, area/.github/workflows

#440 ci: add make goal for e2e CLI tests
  .github/workflows/gochecks.yaml
  .github/workflows/gotests.yaml
  Makefile
Labels: area/.github/workflows

#475 ci: expire action caches
  .github/workflows/expire-caches.yml
Labels: kind/maintenance, area/.github/workflows

#477 ci: fix missing go.mod hash in cache key
  .github/workflows/expire-caches.yml
  .github/workflows/gobuild-protoc.yaml
  .github/workflows/gobuild-qemu-devices.yaml
Labels: kind/fix, area/.github/workflows

#490 fix(goreleaser): Remove unused build dependency
  .goreleaser-stable.yaml
  .goreleaser-staging.yaml
Labels: kind/fix

#491 fix(plat): Handle KVM VMM target names
  unikraft/plat/platform.go
Labels: kind/fix, area/unikraft
