Repository unikraft/kraftkit, pull requests merged in 2023-02, with the labels that each got.

#210 Miscelaneous fixes for supporting git cloning
  cmd/kraft/pkg/pull/pull.go
  go.mod
  go.sum
  manifest/github.go
  manifest/manager.go
  tui/paraprogress/process.go
  tui/processtree/processtree.go
Labels: kind/enhancement, kind/fix

#226 "`Nameable`" components and packages
  cmd/kraft/build/build.go
  cmd/kraft/pkg/pull/pull.go
  pack/package.go
  unikraft/component/component.go
  unikraft/type.go
Labels: kind/enhancement, kind/maintenance

#233 Add version subcommand
  cmd/kraft/kraft.go
  cmd/kraft/version/version.go
Labels: kind/enhancement, area/cmd

#235 .github/workflows: Recursively checkout repository
  .github/workflows/release-stable.yaml
  .github/workflows/release-staging.yaml
Labels: kind/fix

#236 Set the static tag in the GoReleaser build
  .goreleaser-stable.yaml
  .goreleaser-staging.yaml
Labels: kind/fix

#237 Add the Make target `git2go` as a pre-hook in GoReleaser
  .github/workflows/release-stable.yaml
  .github/workflows/release-staging.yaml
  .goreleaser-stable.yaml
  .goreleaser-staging.yaml
Labels: kind/fix

#246 Improve cmdfactory
  cmd/kraft/kraft.go
  cmd/kraft/options.go
  cmdfactory/builder.go
  cmdfactory/help.go
Labels: kind/maintenance, kind/fix

#247 Use Go generics in contextual config manager
  cmd/kraft/build/build.go
  cmd/kraft/events/events.go
  cmd/kraft/options.go
  cmd/kraft/pkg/pkg.go
  cmd/kraft/pkg/pull/pull.go
  cmd/kraft/pkg/update/update.go
  cmd/kraft/ps/ps.go
  cmd/kraft/rm/rm.go
  cmd/kraft/run/run.go
  cmd/kraft/stop/stop.go
  config/config.go
  config/config_file.go
  config/context.go
  config/defaults.go
  config/manager.go
  manifest/manager.go
Labels: kind/maintenance

#249 Adds parallelized GitHub probing
  manifest/github.go
Labels: kind/maintenance

#250 Add target to install `golangci-lint`
  Makefile
Labels: kind/maintenance
