Repository unikraft/kraftkit, pull requests merged in 2023-12, with the labels that each got.

#1068 feat(goreleaser): Publish kraftld together with kraft
  .goreleaser-stable.yaml
  .goreleaser-staging.yaml
Labels: kind/enhancement

#805 fix: Revert package pushing to workflow
  .github/workflows/release-stable.yaml
  .goreleaser-stable.yaml
Labels: kind/fix, area/.github/workflows

#1070 fix(unikraft): Order external libraries alphabetically
  unikraft/app/application.go
Labels: kind/enhancement, area/unikraft

#1072 fix(internal): Handle unknown architectures
  internal/cli/kraft/run/run.go
  internal/cli/kraft/run/runner_kernel.go
  internal/cli/kraft/run/utils.go
  unikraft/arch/architecture.go
Labels: cmd/kraft/run, kind/fix, area/internal

#1076 build: Simplify binary os/arch listing and fix brew attribution
  .goreleaser-stable.yaml
  .goreleaser-staging.yaml
Labels: kind/fix, kind/refactor

#631 feat: Introduce `kraft lib rm`
  internal/cli/kraft/kraft.go
  internal/cli/kraft/lib/lib.go
  internal/cli/kraft/lib/remove/remove.go
  unikraft/app/application.go
  unikraft/unikraft.go
Labels: area/cmd, gsoc

#536 feat: Introduce `kraft pkg show`
  internal/cli/kraft/pkg/pkg.go
  internal/cli/kraft/pkg/show/show.go
  manifest/manager.go
  manifest/manifest.go
  oci/manager.go
  packmanager/manager.go
  packmanager/query.go
  packmanager/umbrella.go
Labels: gsoc

#1108 fix(workflows): Rerun only on releases
  .github/workflows/expire-caches.yml
  .github/workflows/gobuild-qemu-devices.yaml
  .github/workflows/gochecks.yaml
  .github/workflows/gotests.yaml
  .github/workflows/myself-full.yaml
  .github/workflows/release-staging.yaml
Labels: kind/fix, area/.github/workflows

#622 feat: Introduce `kraft lib add`
  internal/cli/kraft/lib/add/add.go
  internal/cli/kraft/lib/lib.go
  unikraft/app/application.go
  unikraft/lib/library.go
Labels: area/cmd, gsoc

#591 feat: Introduce `kraft lib create`
  internal/cli/kraft/lib/create/create.go
  internal/cli/kraft/lib/lib.go
  manifest/manifest.go
  tui/textinput/text.go
  unikraft/lib/template/CODING_STYLE.md.tmpl
  unikraft/lib/template/CONTRIBUTING.md.tmpl
  unikraft/lib/template/COPYING.md.tmpl
  unikraft/lib/template/Config.uk.tmpl
  unikraft/lib/template/Makefile.uk.tmpl
  unikraft/lib/template/README.md.tmpl
  unikraft/lib/template/main.c.tmpl
  unikraft/lib/template/options.go
  unikraft/lib/template/template.go
Labels: gsoc
