Repository unikraft/kraftkit, pull requests merged in 2023-03, with the labels that each got.

#278 Fix instantiating unikernels and tailing logs
  cmd/kraft/events/events.go
  cmd/kraft/kraft.go
  cmd/kraft/logs/logs.go
  cmd/kraft/rm/rm.go
  cmd/kraft/run/run.go
  cmd/kraft/stop/stop.go
  go.mod
  go.sum
  internal/waitgroup/doc.go
  internal/waitgroup/waitgroup.go
  machine/config.go
  machine/qemu/qemu.go
Labels: kind/fix

#287 fix(cmdfactory): Pass the already read value of the env var
  cmdfactory/builder.go
Labels: kind/fix

#291 fix(buildenv): Remove duplicate '=' sign in myself
  buildenvs/myself.Dockerfile
Labels: kind/fix

#292 feat(Makefile): Add `help` target providing details of PHONY targets
  .github/workflows/gobuild.yaml
  Makefile
Labels: kind/maintenance

#295 fix(lib): Always set the library's KConfig option
  unikraft/lib/library.go
Labels: kind/fix

#280 fix(goreleaser): Switch pushing to fury application
  .github/workflows/release-stable.yaml
Labels: kind/fix

#251 cmd/kraft: Hide incomplete/disabled commands
  cmd/kraft/build/build.go
  cmd/kraft/configure/configure.go
  cmd/kraft/kraft.go
  cmd/kraft/set/set.go
  cmd/kraft/unset/unset.go
  unikraft/app/application.go
Labels: kind/maintenance

#297 refactor(run): Remove `launch` subcommand keyword from `kraft run`
  cmd/kraft/run/run.go
Labels: cmd/kraft/run, area/cmd

#296 refactor(build): update kraft build text
  cmd/kraft/build/build.go
Labels: cmd/kraft/build, area/cmd

#298 fix build sourcing
  cmd/kraft/build/build.go
  manifest/manager.go
Labels: area/cmd, kind/fix, area/manifest

#302 fix(gomod): Do not use relative replacement
  go.work.sum
  tools/go-generate-qemu-devices/go.mod
  tools/go-generate-qemu-devices/go.sum
Labels: kind/fix, area/tools

#301 fix: iostreams tui logging
  cmd/kraft/build/build.go
  cmd/kraft/options.go
  go.mod
  go.sum
  iostreams/context.go
  iostreams/iostreams.go
  log/context.go
  log/formatter.go
  tui/paraprogress/options.go
  tui/paraprogress/paraprogress.go
  tui/paraprogress/process.go
  tui/processtree/processtree.go
  tui/processtree/view.go
  tui/tui.go
  utils/table_printer.go
Labels: kind/fix, area/tui, area/iostreams, area/log

#304 GoLand: Ignore .idea folder
  .gitignore
Labels: kind/maintenance

#306 refactor(kraft): Remove ellipsis from log messages
  cmd/kraft/events/events.go
  cmd/kraft/pkg/pull/pull.go
  cmd/kraft/rm/rm.go
  cmd/kraft/stop/stop.go
Labels: area/cmd, kind/maintenance

#308 feat(docs): Add more information to the header and footer of the README
  README.md
  docs/demo.gif
Labels: area/docs, kind/enhancement

#309 fix(doc): Fix duplicate "Quickstart" headers in README
  README.md
Labels: area/docs, kind/fix

#274 webinstall: Offer kraftkit installation
  go.work
  go.work.sum
  tools/webinstall/Dockerfile
  tools/webinstall/go.mod
  tools/webinstall/go.sum
  tools/webinstall/install.sh
  tools/webinstall/main.go
Labels: kind/enhancement

#312 fix: semantic version check
  cmd/kraft/kraft.go
  cmd/kraft/version/version.go
  internal/update/update.go
Labels: area/cmd, kind/fix

#313 fix: webinstall
  tools/webinstall/go.mod
  tools/webinstall/main.go
Labels: kind/fix, area/tools

#307 feat(workflows): Add commits checks for PRs
  .github/workflows/commit-format-check.yaml
Labels: kind/maintenance

#316 fix(workflows): Adjust git commit line lengths to match `.editorconfig`
  .github/workflows/commit-format-check.yaml
Labels: kind/maintenance, kind/fix, area/.github, area/.github/workflows

#317 fix(workflows): Do not run Go builds on changes to GitHub workflows
  .github/workflows/gobuild.yaml
  .github/workflows/gochecks.yaml
Labels: kind/fix, area/.github, area/.github/workflows

#318 fix(workflows): Include pattern to match all paths
  .github/workflows/gobuild.yaml
  .github/workflows/gochecks.yaml
Labels: kind/fix, area/.github, area/.github/workflows

#320 fix(workflows): Add support for breaking change title
  .github/workflows/commit-format-check.yaml
Labels: kind/fix, area/.github, area/.github/workflows
