Repository unikraft/kraftkit, pull requests merged in 2023-09, with the labels that each got.

#762 feat: Downgrade make `stderr` to Warnings & highlight errors at the end
  cmd/kraft/build/build.go
  cmdfactory/builder.go
  test/e2e/cli/pkg_test.go
  test/e2e/cli/version_test.go
Labels: kind/enhancement, cmd/kraft/build, area/cmdfactory

#765 fix(webinstall): Ask to create directory path before installing
  tools/webinstall/install.sh
Labels: kind/fix, area/tools

#770 fix(config): Remove several flags from the default config
  config/config.go
Labels: kind/fix, area/config

#779 feat(run): Detail `memory` argument
  cmd/kraft/run/run.go
Labels: area/cmd

#782 fix(machine): Switch to IEC format memory sizes
  machine/firecracker/v1alpha1.go
  machine/qemu/qemu_memory.go
  machine/qemu/v1alpha1.go
Labels: area/machine

#781 fix: Properly parse boot arguments before starting machines
  internal/run/utils.go
  machine/firecracker/v1alpha1.go
  machine/qemu/config.go
Labels: area/internal, area/machine

#777 fix: Parse executable path in machine
  cmd/kraft/run/runner_linuxu.go
  machine/firecracker/v1alpha1.go
  machine/qemu/v1alpha1.go
Labels: area/cmd, area/machine

#786 fix(unikraft): Also set the arch/plat when generating configs
  unikraft/app/application.go
Labels: area/unikraft

#774 feat(cmd): Update commands `fetch`/`menu`/`prepare`
  cmd/kraft/build/build.go
  cmd/kraft/fetch/fetch.go
  cmd/kraft/kraft.go
  cmd/kraft/menu/menu.go
  cmd/kraft/prepare/prepare.go
  tools/github-action/pull.go
Labels: kind/enhancement, area/cmd

#775 feat(cmd): Add option to change default config frontend
  cmd/kraft/menu/menu.go
Labels: area/cmd

#776 feat: Add `K` shorthand for `kraftfile`
  cmd/kraft/build/build.go
  cmd/kraft/clean/clean.go
  cmd/kraft/fetch/fetch.go
  cmd/kraft/menu/menu.go
  cmd/kraft/pkg/list/list.go
  cmd/kraft/pkg/pkg.go
  cmd/kraft/pkg/pull/pull.go
  cmd/kraft/pkg/push/push.go
  cmd/kraft/properclean/properclean.go
  cmd/kraft/run/run.go
  cmd/kraft/set/set.go
Labels: kind/enhancement, area/cmd, github_actions

#793 fix: Enable SSL verification by default
  cmd/kraft/login/login.go
  config/config.go
Labels: area/cmd, kind/fix, area/config

#795 fix(ps): Correct lingering memory calculation
  cmd/kraft/ps/ps.go
Labels: area/cmd, kind/fix

#794 fix: Migrate artifact pushing back to goreleaser
  .github/workflows/release-stable.yaml
  .goreleaser-stable.yaml
Labels: area/.github/workflows

#798 feat(goreleaser): Generate grouped changelog automatically for staging
  .goreleaser-staging.yaml
Labels: kind/enhancement

#799 fix(goreleaser): Detect any size for commit shas
  .goreleaser-staging.yaml
Labels: kind/fix

#804 fix(workflows): Prepend 'v' to version
  .github/workflows/release-stable.yaml
Labels: kind/fix, area/.github/workflows

#803 fix(oci): Add filtering capability to package manager
  oci/manager.go
Labels: area/cmd, kind/fix

#806 fix(goreleaser): Remove silent pushing to detect errors
  .goreleaser-stable.yaml
Labels: kind/fix

#807 feat(buildenvs): Add initrd creation tools to base container
  buildenvs/base.Dockerfile
Labels: kind/enhancement, area/buildenvs

#814 feat(unsource): Warn if no change done
  cmd/kraft/pkg/unsource/unsource.go
Labels: kind/enhancement, cmd/kraft/pkg

#791 feat: runu, OCI runtime for Unikraft unikernels
  .goreleaser-stable.yaml
  .goreleaser-staging.yaml
  Makefile
  cmd/runu/create/create.go
  cmd/runu/delete/delete.go
  cmd/runu/init.go
  cmd/runu/kill/kill.go
  cmd/runu/ps/ps.go
  cmd/runu/runu.go
  cmd/runu/start/start.go
  cmd/runu/state/state.go
  go.mod
  go.sum
  libmocktainer/README.md
  libmocktainer/configs/config.go
  libmocktainer/configs/namespaces.go
  libmocktainer/configs/namespaces_linux.go
  libmocktainer/configs/namespaces_syscall.go
  libmocktainer/configs/network.go
  libmocktainer/configs/validate/validator.go
  libmocktainer/container.go
  libmocktainer/container_linux.go
  libmocktainer/error.go
  libmocktainer/factory_linux.go
  libmocktainer/init_linux.go
  libmocktainer/message_linux.go
  libmocktainer/network_linux.go
  libmocktainer/process.go
  libmocktainer/process_linux.go
  libmocktainer/restored_process.go
  libmocktainer/rootfs_linux.go
  libmocktainer/specconv/spec_linux.go
  libmocktainer/standard_init_linux.go
  libmocktainer/state_linux.go
  libmocktainer/sync.go
  libmocktainer/unikraft/doc.go
  libmocktainer/unikraft/net_qemu.go
  libmocktainer/utils/cmsg.go
Labels: kind/enhancement

#817 feat(e2e): Add 'pkg source/unsource' tests
  test/e2e/cli/pkg_source_test.go
  test/e2e/cli/pkg_unsource_test.go
  test/e2e/cli/pkg_update_test.go
  test/e2e/cli/version_test.go
Labels: kind/enhancement, kind/fix, area/test

#796 fix(run): Send finish signal after removing from store
  cmd/kraft/run/run.go
Labels: cmd/kraft/run, kind/fix

#829 fix(cli): Do not initialise config file if path changed
  internal/cli/options.go
Labels: kind/fix, area/internal

#826 feat(e2e): Add tests for the 'net' set of commands
  test/e2e/cli/net_create_test.go
  test/e2e/cli/net_down_test.go
  test/e2e/cli/net_inspect_test.go
  test/e2e/cli/net_ls_test.go
  test/e2e/cli/net_rm_test.go
  test/e2e/cli/net_up_test.go
  test/e2e/cli/pkg_source_test.go
  test/e2e/cli/pkg_unsource_test.go
  test/e2e/cli/pkg_update_test.go
  test/e2e/cli/version_test.go
  test/e2e/framework/cmd/cmd.go
Labels: kind/test, area/test

#830 fix(goreleaser): Enable multi-binary releases
  .goreleaser-stable.yaml
  .goreleaser-staging.yaml
Labels: kind/fix

#831 build(webinstall): switch to distroless base image
  tools/webinstall/Dockerfile
Labels: area/tools

#833 fix(machine): Check bridges have ip address
  machine/network/bridge/v1alpha1.go
Labels: kind/fix, area/machine

#839 feat(workflows): Add multi-os stable tests
  .github/workflows/gotests-stable.yaml
  Makefile
  test/e2e/cli/net_create_test.go
  test/e2e/cli/net_down_test.go
  test/e2e/cli/net_inspect_test.go
  test/e2e/cli/net_ls_test.go
  test/e2e/cli/net_rm_test.go
  test/e2e/cli/net_up_test.go
Labels: kind/enhancement, area/.github/workflows

#847 fix(cmdfactory): Do not set `defValue` for integer attributes
  cmdfactory/builder.go
Labels: kind/fix, area/cmdfactory

#845 feat(oci): Add option to set Directory handler and its path
  oci/manager_options.go
Labels: kind/enhancement, area/oci
