Repository unikraft/kraftkit, pull requests merged in 2023-08, with the labels that each got.

#692 refactor: Misc base workflow improvements
  .github/workflows/base.yaml
  .github/workflows/github-action.yaml
  .github/workflows/myself-full.yaml
  .github/workflows/myself.yaml
  buildenvs/Makefile
  buildenvs/base.Dockerfile
  buildenvs/gcc.Dockerfile
  buildenvs/github-action.Dockerfile
  tools/github-action/go.mod
  tools/github-action/go.sum
Labels: kind/enhancement, kind/maintenance, area/.github/workflows, area/buildenvs

#696 fix(workflows): Correct target name to `kraftkit-full`
  .github/workflows/myself-full.yaml
Labels: kind/fix, area/.github/workflows

#693 fix(github-action): Re-use project instantiation and target selection
  tools/github-action/build.go
  tools/github-action/execute.go
  tools/github-action/main.go
  tools/github-action/pack.go
Labels: kind/fix, area/tools

#709 feat: Exit with error when unikernels panic
  api/machine/v1alpha1/machine.zip.go
  cmd/kraft/run/run.go
  machine/qemu/init.go
  machine/qemu/v1alpha1.go
Labels: cmd/kraft/run, area/api, area/machine, machine/qemu

#733 fix(oci): Populate image information after fetching
  oci/pack.go
Labels: kind/bug, area/oci

#731 refactor: Move runtime directory to user scope
  cmd/kraft/run/run.go
  cmd/kraft/run/runner_package.go
  config/config.go
  config/defaults.go
  machine/firecracker/v1alpha1.go
  machine/qemu/v1alpha1.go
  oci/manager_options.go
  oci/pack.go
Labels: area/cmd, kind/fix, area/config, kind/refactor, area/oci, area/machine

#732 feat(dockerfile-llb-frontend): Use WellKnownKernelPath in build output
  tools/dockerfile-llb-frontend/build/build.go
  tools/dockerfile-llb-frontend/go.mod
  tools/dockerfile-llb-frontend/go.sum
Labels: kind/enhancement, area/tools

#736 fix(unikraft): Hardcode language libraries before libcs
  unikraft/app/application.go
Labels: kind/fix, area/unikraft

#730 fix(kraft): Add better error guidance for version checks
  cmd/kraft/kraft.go
Labels: area/cmd

#738 feat(login): Add option to login to container registries
  cmd/kraft/login/login.go
Labels: kind/enhancement, area/cmd

#744 feat(make): Use different make binaries for different distributions
  make/make.go
Labels: area/unikraft

#691 fix: Do not run empty process lists
  cmd/kraft/pkg/pkg.go
  tui/processtree/processtree.go
Labels: cmd/kraft/pkg, kind/fix, area/tui

#625 feat: Install all kraftkit dependencies & fixes
  .goreleaser-stable.yaml
  tools/webinstall/install.sh
Labels: area/tools

#690 fix(oci): Remove temporary files after using them
  oci/image.go
  oci/layer.go
  oci/pack.go
Labels: kind/fix, area/oci

#746 fix(pull)!: Change flag to be consistent & add registry usage
  cmd/kraft/pkg/pull/pull.go
Labels: area/cmd

#755 refactor(qemu): Move qemu-system-* binary constant names to own file
  machine/qemu/qemu_system.go
  machine/qemu/v1alpha1.go
Labels: kind/refactor, area/machine, machine/qemu

#752 fix(kconfig): Correctly handle integer conversions from map interface
  kconfig/config.go
Labels: kind/fix, area/kconfig
