Repository unikraft/kraftkit, pull requests merged in 2023-06, with the labels that each got.

#498 refactor!: Adjust package managers for external use
  cmd/kraft/build/build.go
  cmd/kraft/pkg/list/list.go
  cmd/kraft/pkg/pull/pull.go
  cmd/kraft/run/run.go
  manifest/channel.go
  manifest/directory.go
  manifest/git.go
  manifest/github.go
  manifest/index.go
  manifest/manager.go
  manifest/manager_options.go
  manifest/manifest.go
  manifest/manifest_options.go
  manifest/options.go
  manifest/pack.go
  manifest/pack_pull_archive.go
  manifest/pack_pull_git.go
  manifest/version.go
  oci/image.go
  oci/manager.go
  oci/manager_options.go
  oci/oci.go
  oci/pack.go
  pack/pull_options.go
  packmanager/manager.go
  packmanager/query.go
  packmanager/umbrella.go
Labels: kind/maintenance

#500 refactor!: Move tableprinter into internal package
  cmd/kraft/pkg/list/list.go
  cmd/kraft/ps/ps.go
  internal/tableprinter/table_printer.go
  internal/tableprinter/table_printer_test.go
  oci/manager.go
Labels: kind/maintenance, gsoc

#502 fix(packmanager,oci): Correctly handle options
  oci/manager_options.go
  packmanager/umbrella.go
Labels: kind/fix, area/packmanager, area/oci

#504 refactor: Downgrade specific log entries
  manifest/manager.go
  oci/manager_options.go
  packmanager/umbrella.go
Labels: kind/maintenance, area/packmanager, area/oci

#507 fix(oci): Fix misuse of well-known path for initramfs file
  oci/pack.go
Labels: kind/fix, area/oci

#508 fix(app): Remove unused typecast mapping
  unikraft/app/interpolate.go
  unikraft/app/project_options.go
Labels: kind/fix, area/unikraft

#509 gomod(deps): bump github.com/docker/docker from v23.0.5+incompatible to v24.0.2+incompatible
  go.mod
  go.sum
  oci/manager.go
  oci/manager_options.go
Labels: dependencies, area/oci, go

#506 feat: Initial networking support
  api/api.go
  api/machine/v1alpha1/machine.zip.go
  api/machine/v1alpha1/port.go
  api/network/network.go
  api/network/v1alpha1/interface.zip.go
  api/network/v1alpha1/network.zip.go
  api/network/v1alpha1/register.go
  cmd/kraft/kraft.go
  cmd/kraft/net/create/create.go
  cmd/kraft/net/down/down.go
  cmd/kraft/net/inspect/inspect.go
  cmd/kraft/net/list/list.go
  cmd/kraft/net/net.go
  cmd/kraft/net/remove/remove.go
  cmd/kraft/net/up/up.go
  cmd/kraft/ps/ps.go
  cmd/kraft/rm/rm.go
  cmd/kraft/run/run.go
  go.mod
  go.sum
  machine/network/bridge/bridge.go
  machine/network/bridge/utils.go
  machine/network/bridge/v1alpha1.go
  machine/network/macaddr/macaddr.go
  machine/network/register_linux.go
  machine/network/service.go
  machine/qemu/config.go
  machine/qemu/init.go
  machine/qemu/qemu_netdev.go
  machine/qemu/qmp/v1alpha/control.pb.netconn.go
  machine/qemu/qmp/v1alpha/control.proto
  machine/qemu/qmp/v1alpha/descriptor.proto
  machine/qemu/qmp/v1alpha/error.proto
  machine/qemu/qmp/v1alpha/event.proto
  machine/qemu/qmp/v1alpha/greeting.proto
  machine/qemu/qmp/v1alpha/machine.proto
  machine/qemu/qmp/v1alpha/misc.proto
  machine/qemu/qmp/v1alpha/net.pb.netconn.go
  machine/qemu/qmp/v1alpha/net.proto
  machine/qemu/qmp/v1alpha/run_state.proto
  machine/qemu/qmp/v1alpha/service.pb.netconn.go
  machine/qemu/qmp/v1alpha/service.proto
  machine/qemu/qmp/v1alpha/sockets.pb.netconn.go
  machine/qemu/qmp/v1alpha/sockets.proto
  machine/qemu/v1alpha1.go
  unikraft/export/v0/uknetdev/library.go
  unikraft/export/v0/uknetdev/params.go
Labels: kind/enhancement, cmd/kraft/run, area/cmd, area/api, area/machine

#516 fix(oci): Add missing status to progress check
  oci/handler/containerd.go
Labels: kind/fix, area/oci

#518 feat: Native ELFLoader support
  api/machine/v1alpha1/machine.zip.go
  cmd/kraft/pkg/source/source.go
  cmd/kraft/pkg/unsource/unsource.go
  cmd/kraft/run/run.go
  cmd/kraft/run/runner_kernel.go
  cmd/kraft/run/runner_linuxu.go
  cmd/kraft/run/runner_package.go
  cmd/kraft/run/runner_project.go
  cmd/kraft/run/utils.go
  machine/qemu/v1alpha1.go
  manifest/init.go
  manifest/manager.go
  oci/handler/containerd.go
  oci/init.go
  oci/manager.go
  oci/manager_options.go
  oci/oci.go
  oci/pack.go
  packmanager/manager.go
  packmanager/umbrella.go
  unikraft/component/component.go
  unikraft/elfloader/elfloader.go
  unikraft/elfloader/elfloader_pack.go
  unikraft/elfloader/init.go
  unikraft/utils.go
Labels: kind/enhancement, cmd/kraft/run, area/cmd, area/oci, area/unikraft

#517 fix(manifest): Fail on missing manifest options
  manifest/git.go
  manifest/github.go
  manifest/manifest.go
Labels: kind/fix, area/manifest

#533 fix(oci): Correctly handle initrd path from OCI archive
  initrd/initrd.go
  oci/pack.go
  utils/utils.go
Labels: kind/fix, area/initrd, area/oci

#532 fix(run): Fix miscellaneous `kraft run` issues
  cmd/kraft/run/run.go
  cmd/kraft/run/runner.go
  cmd/kraft/run/runner_kernel.go
  cmd/kraft/run/utils.go
Labels: kind/enhancement, cmd/kraft/run, area/cmd, kind/fix

#529 fix(v1alpha1): Fix the JSON name for `MachineSpec` networks
  api/machine/v1alpha1/machine.zip.go
Labels: kind/fix, area/api

#526 refactor(kraft): Migrate `kraft net` to its own subcommand group
  cmd/kraft/kraft.go
  cmd/kraft/net/create/create.go
  cmd/kraft/net/down/down.go
  cmd/kraft/net/inspect/inspect.go
  cmd/kraft/net/list/list.go
  cmd/kraft/net/net.go
  cmd/kraft/net/remove/remove.go
  cmd/kraft/net/up/up.go
Labels: area/cmd, kind/refactor

#524 refactor(list): Make `ls` the main entrypoint
  cmd/kraft/pkg/list/list.go
Labels: cmd/kraft/pkg, area/cmd, kind/refactor

#525 docs(source): Update `kraft pkg source` example
  cmd/kraft/pkg/source/source.go
Labels: area/docs, cmd/kraft/pkg, area/cmd

#527 refactor(unikraft): Migrate default build directory to `.unikraft/build`
  unikraft/app/loader.go
  unikraft/app/project.go
  unikraft/unikraft.go
Labels: kind/refactor, area/unikraft

#531 feat(build): Handle pull authentication and introduce `--no-pull`
  cmd/kraft/build/build.go
  pack/pull_options.go
Labels: kind/enhancement, cmd/kraft/build, area/cmd

#543 fix(app): Create the `BuildDir` if it does not exist
  unikraft/app/project.go
Labels: kind/fix, area/unikraft

#542 fix(unikraft): Better handling of schema transformations
  cmd/kraft/build/build.go
  unikraft/component/component.go
  unikraft/core/transform.go
  unikraft/lib/transform.go
Labels: kind/fix, area/unikraft

#534 feat: Native Firecracker support
  cmd/kraft/ps/ps.go
  cmd/kraft/run/runner_package.go
  exec/process.go
  go.mod
  go.sum
  internal/logtail/logtail.go
  machine/firecracker/config.go
  machine/firecracker/execconfig.go
  machine/firecracker/init.go
  machine/firecracker/v1alpha1.go
  machine/firecracker/v1alpha1_options.go
  machine/platform/register_linux.go
  machine/qemu/v1alpha1.go
  oci/handler/containerd.go
  oci/handler/handler.go
  oci/pack.go
  pack/pull_options.go
Labels: kind/enhancement, area/machine

#547 docs: Add feature list to README
  README.md
Labels: area/docs

#549 docs: Adjust the help menu of `kraft pkg`
  cmd/kraft/pkg/pkg.go
Labels: area/docs, cmd/kraft/pkg, area/cmd

#551 fix: Correctly pull OCI images from the registry based on platform
  oci/pack.go
  unikraft/arch/host.go
Labels: kind/fix, area/oci, area/unikraft

#552 fix(cmdfactory): panic while filtering empty flag values
  cmdfactory/builder.go
  cmdfactory/builder_test.go
Labels: kind/fix, area/cmdfactory

#544 fix(run): Fix issues related to project runner
  cmd/kraft/run/run.go
  cmd/kraft/run/runner_project.go
Labels: cmd/kraft/run, area/cmd, kind/fix

#550 feat: Platform iterator
  cmd/kraft/ps/ps.go
  cmd/kraft/rm/rm.go
  cmd/kraft/stop/stop.go
  go.mod
  go.sum
  machine/platform/iterator_v1alpha1.go
Labels: kind/enhancement, area/cmd, dependencies, area/machine

#554 fix(run): Instantiate the umbrella if `--as` is not set
  cmd/kraft/run/run.go
Labels: cmd/kraft/run, area/cmd, kind/fix

#555 refactor: Use platform iterator in `kraft logs`
  cmd/kraft/logs/logs.go
  machine/platform/iterator_v1alpha1.go
Labels: kind/enhancement, area/cmd, area/machine

#556 fix(platform): Alias KVM as QEMU
  machine/platform/platform.go
  machine/platform/register_linux.go
Labels: kind/fix, area/machine

#557 feat(pkg): Configurable output format
  cmd/kraft/net/list/list.go
  cmd/kraft/pkg/list/list.go
  cmd/kraft/ps/ps.go
  internal/tableprinter/render_json.go
  internal/tableprinter/render_table.go
  internal/tableprinter/render_yaml.go
  internal/tableprinter/tableprinter.go
  internal/tableprinter/tableprinter_options.go
  internal/tableprinter/tableprinter_test.go
Labels: kind/enhancement, area/cmd

#559 refactor(oci)!: Change the contents of OCI's metadata
  oci/pack.go
Labels: kind/refactor, area/oci
