Repository unikraft/kraftkit, pull requests merged in 2023-10, with the labels that each got.

#838 fix(webinstall): Correct use of `makepkg` for Arch Linux
  tools/webinstall/install.sh
Labels: area/tools

#844 fix(workflows): Merge automated tags through PRs
  .github/workflows/tag-stable-weekly.yaml
Labels: kind/fix, area/.github/workflows

#827 feat(goreleaser): Suggest compiler packages for different arch cases
  .goreleaser-stable.yaml
Labels: kind/enhancement

#698 feat: Add complete feature set for devcontainers
  .devcontainer/devcontainer.json
  .github/workflows/base-golang.yaml
  Makefile
  buildenvs/Makefile
  buildenvs/base-golang.Dockerfile
  buildenvs/devcontainer.Dockerfile
Labels: kind/enhancement, area/buildenvs

#846 feat: Enable initial Windows support
  archive/archive.go
  archive/unarchive.go
  config/config_file.go
  exec/process.go
  exec/process_darwin.go
  exec/process_linux.go
  exec/process_windows.go
  go.mod
  go.sum
  initrd/initrd.go
  internal/findsh/find_windows.go
  kconfig/kconfig.go
  machine/network/register_windows.go
  machine/platform/detect.go
  machine/platform/detect_windows.go
  machine/platform/register_darwin.go
  machine/platform/register_unix.go
  machine/platform/register_windows.go
  manifest/manager.go
  oci/handler/directory.go
  oci/image.go
  oci/layer.go
Labels: kind/enhancement, kind/fix

#663 feat: Introduce `kraft pkg prune`
  cmd/kraft/pkg/pkg.go
  cmd/kraft/pkg/prune/prune.go
  manifest/manager.go
  manifest/pack.go
  manifest/provider.go
  oci/manager.go
  oci/pack.go
  pack/package.go
  packmanager/manager.go
  packmanager/query.go
  packmanager/umbrella.go
  unikraft/elfloader/elfloader_pack.go
Labels: cmd/kraft/pkg, area/pack, area/oci, gsoc

#853 fix(archive): Revert list split on separator
  archive/unarchive.go
Labels: kind/fix, area/archive

#855 fix(oci): Ensure auth data is not overwritten
  oci/manager_options.go
Labels: kind/fix, area/oci

#856 fix(internal): Attribute CLI flags after reading config
  config/manager.go
  internal/cli/options.go
Labels: kind/fix, area/internal

#869 feat(workflows): Fail instantly on errors
  .github/workflows/tag-stable-weekly.yaml
Labels: kind/enhancement, kind/fix

#872 fix(ci): linter disable-all does not disable all
  .github/workflows/gochecks.yaml
Labels: area/.github/workflows

#871 fix(runu): filter default route for v4 family only
  libmocktainer/unikraft/net_qemu.go
Labels: kind/bug

#870 feat: Add symbol to specify custom qemu binaries
  cmd/runu/create/create.go
  config/config.go
  machine/platform/detect.go
  machine/qemu/v1alpha1.go
Labels: kind/enhancement, kind/fix

#879 feat(e2e): Add common method for outputting command error
  test/e2e/cli/net_create_test.go
  test/e2e/cli/net_down_test.go
  test/e2e/cli/net_inspect_test.go
  test/e2e/cli/net_ls_test.go
  test/e2e/cli/net_rm_test.go
  test/e2e/cli/net_up_test.go
  test/e2e/cli/pkg_source_test.go
  test/e2e/cli/pkg_unsource_test.go
  test/e2e/cli/pkg_update_test.go
  test/e2e/cli/version_test.go
  test/e2e/framework/cmd/cmd.go
Labels: area/test

#878 fix(pkg): Add `--force` flag to sourcing and prevent check on unsourcing
  cmd/kraft/pkg/source/source.go
  cmd/kraft/pkg/unsource/unsource.go
  test/e2e/cli/pkg_source_test.go
  test/e2e/cli/pkg_unsource_test.go
Labels: cmd/kraft/pkg, area/cmd, kind/fix

#880 fix(workflows): Do not match citations on commit messages
  .github/workflows/commit-format-check.yaml
Labels: kind/fix, area/.github/workflows

#918 feat(workflows): Enable tests on self-hosted mac
  .github/actionlint.yaml
  .github/workflows/gotests-stable.yaml
Labels: kind/enhancement

#763 feat: Add package signing for stable releases
  .github/workflows/release-stable.yaml
  .goreleaser-stable.yaml
Labels: kind/enhancement, area/.github/workflows
