Repository unikraft/kraftkit, pull requests merged in 2023-07, with the labels that each got.

#574 fix(app): Downgrade redundant warning to debug
  unikraft/app/project.go
Labels: kind/refactor

#575 fix(run): Set pull platform for linuxu runner
  cmd/kraft/run/runner_linuxu.go
Labels: cmd/kraft/run, area/cmd, kind/fix

#577 fix(devcontainer): Minify devcontainer configuration
  .devcontainer/devcontainer.json
Labels: kind/fix

#583 feat(unikraft): Add known internal platforms Xen and LinuxU
  unikraft/plat/platform.go
Labels: kind/fix, area/unikraft

#584 feat(qemu): Propagate more QEMU errors
  machine/qemu/v1alpha1.go
Labels: kind/enhancement, area/machine

#581 feat(cmd): Introduce `--no-update` feature flag
  cmd/kraft/build/build.go
  unikraft/app/project.go
Labels: kind/enhancement, cmd/kraft/build, area/cmd, area/unikraft

#582 feat: Dynamically serialize CPIO archives
  cmd/kraft/run/run.go
  initrd/initrd.go
Labels: kind/enhancement, cmd/kraft/run, area/cmd, area/initrd

#587 feat(build): Allow specifying non-standard location for `Kraftfile`
  cmd/kraft/build/build.go
  cmd/kraft/clean/clean.go
  cmd/kraft/fetch/fetch.go
  cmd/kraft/menu/menu.go
  cmd/kraft/pkg/list/list.go
  cmd/kraft/pkg/pkg.go
  cmd/kraft/pkg/pull/pull.go
  cmd/kraft/pkg/push/push.go
  cmd/kraft/prepare/prepare.go
  cmd/kraft/properclean/properclean.go
  cmd/kraft/run/run.go
  cmd/kraft/run/runner_project.go
  cmd/kraft/set/set.go
Labels: kind/enhancement, cmd/kraft/build, area/cmd

#588 refactor(build)!: Deprecate `--fast` for `--no-fast`
  cmd/kraft/build/build.go
Labels: cmd/kraft/build, area/cmd, kind/refactor

#589 refactor(app): Downgrade log message to trace and update message
  unikraft/app/project.go
Labels: kind/refactor, area/unikraft

#590 feat: Introduce `--all` flag and target selection menu in `kraft build`
  cmd/kraft/build/build.go
  internal/cli/target.go
  unikraft/app/application.go
  unikraft/app/application_options.go
  unikraft/target/target.go
Labels: kind/enhancement, area/cmd, kind/refactor

#586 fix(build): Skip searching packages which are component directories
  cmd/kraft/build/build.go
Labels: cmd/kraft/build, area/cmd, kind/fix

#597 refactor(cli): Prettify the target selection query mark
  internal/cli/target.go
Labels: kind/enhancement, area/internal

#596 refactor(build): Move target selection to beginning of execution
  cmd/kraft/build/build.go
Labels: cmd/kraft/build, area/cmd, kind/fix

#598 fix: Correctly handle platform name aliasing
  cmd/kraft/events/events.go
  cmd/kraft/logs/logs.go
  cmd/kraft/ps/ps.go
  cmd/kraft/rm/rm.go
  cmd/kraft/run/run.go
  cmd/kraft/stop/stop.go
  machine/platform/platform.go
  machine/platform/strategy.go
  unikraft/plat/transform.go
Labels: cmd/kraft/run, area/cmd, kind/fix, kind/refactor, area/machine

#600 refactor(target): Use a slash separator between plat and arch
  unikraft/target/target.go
Labels: kind/refactor, area/unikraft

#599 fix(ps): Show missing information (IPs and plat/arch)
  cmd/kraft/ps/ps.go
Labels: area/cmd, kind/fix

#601 refactor(build)!: Remove the preparation step
  cmd/kraft/build/build.go
Labels: cmd/kraft/build, area/cmd, kind/refactor

#613 fix(menu): Fix hanging `kraft menu`
  cmd/kraft/menu/menu.go
Labels: area/cmd, kind/fix

#648 fix(run): Show reason for runner failure in debug logs
  cmd/kraft/run/run.go
Labels: cmd/kraft/run, area/cmd, kind/fix

#646 fix(manifest): Improve manifest Catalog caching
  manifest/git.go
  manifest/index.go
  manifest/manager.go
  manifest/manifest.go
  manifest/pack.go
  manifest/provider.go
Labels: kind/enhancement, area/manifest

#652 refactor(run): Misc error message improvements
  cmd/kraft/run/runner_package.go
  cmd/kraft/run/runner_project.go
Labels: cmd/kraft/run, area/cmd, kind/maintenance

#651 refactor(oci)!: Rename `PushDigest` to `SaveDigest`
  oci/handler/containerd.go
  oci/handler/directory.go
  oci/handler/handler.go
  oci/image.go
Labels: kind/refactor, area/oci

#654 fix(unikraft): Do not append library prefix for all libraries
  unikraft/lib/library.go
Labels: kind/fix, area/unikraft

#629 feat: Native volume support
  api/api.go
  api/machine/v1alpha1/machine.zip.go
  api/volume/v1alpha1/register.go
  api/volume/v1alpha1/volume.zip.go
  api/volume/volume.go
  cmd/kraft/run/run.go
  cmd/kraft/run/utils.go
  machine/qemu/config.go
  machine/qemu/init.go
  machine/qemu/qemu_fsdev.go
  machine/qemu/v1alpha1.go
  machine/volume/9pfs/v1alpha1.go
  machine/volume/register_linux.go
  machine/volume/strategy.go
  unikraft/export/v0/ukargparse/params.go
  unikraft/export/v0/ukargparse/params_strmap.go
  unikraft/export/v0/ukargparse/params_strslice.go
  unikraft/export/v0/vfscore/library.go
  unikraft/export/v0/vfscore/params.go
Labels: kind/enhancement, cmd/kraft/run, area/cmd, area/api, area/machine

#662 fix: Alias platform argument
  cmd/kraft/build/build.go
  cmd/kraft/clean/clean.go
  cmd/kraft/events/events.go
  cmd/kraft/fetch/fetch.go
  cmd/kraft/menu/menu.go
  cmd/kraft/pkg/pkg.go
  cmd/kraft/pkg/pull/pull.go
  cmd/kraft/prepare/prepare.go
  cmd/kraft/ps/ps.go
  cmd/kraft/run/run.go
  machine/platform/platform.go
Labels: area/cmd, kind/fix

#660 feat!: Replace dynamic OCI arguments with generic options
  cmd/kraft/pkg/pkg.go
  oci/init.go
  oci/oci.go
  oci/pack.go
  packmanager/pack_options.go
Labels: kind/bug, kind/enhancement, area/oci, kind/breaking-change

#665 feat(oci): Implement directory handler pushing
  oci/handler/directory.go
  oci/handler/directory_image.go
Labels: kind/enhancement, kind/fix, area/oci

#671 fix(cmdfactory): Correctly handle dynamically registered flags
  cmdfactory/builder.go
Labels: kind/fix, area/cmdfactory

#677 feat: Introduce GitHub Action
  .github/workflows/base.yaml
  .github/workflows/github-action.yaml
  Makefile
  action.yml
  buildenvs/Makefile
  buildenvs/base.Dockerfile
  buildenvs/gcc.Dockerfile
  buildenvs/github-action.Dockerfile
  buildenvs/qemu.Dockerfile
  machine/qemu/qmp/v7alpha2/control.pb.netconn.go
  machine/qemu/qmp/v7alpha2/control.proto
  machine/qemu/qmp/v7alpha2/descriptor.proto
  machine/qemu/qmp/v7alpha2/error.pb.netconn.go
  machine/qemu/qmp/v7alpha2/error.proto
  machine/qemu/qmp/v7alpha2/event.pb.netconn.go
  machine/qemu/qmp/v7alpha2/event.proto
  machine/qemu/qmp/v7alpha2/greeting.pb.netconn.go
  machine/qemu/qmp/v7alpha2/greeting.proto
  machine/qemu/qmp/v7alpha2/machine.pb.netconn.go
  machine/qemu/qmp/v7alpha2/machine.proto
  machine/qemu/qmp/v7alpha2/misc.pb.netconn.go
  machine/qemu/qmp/v7alpha2/misc.proto
  machine/qemu/qmp/v7alpha2/net.pb.netconn.go
  machine/qemu/qmp/v7alpha2/net.proto
  machine/qemu/qmp/v7alpha2/run_state.pb.netconn.go
  machine/qemu/qmp/v7alpha2/run_state.proto
  machine/qemu/qmp/v7alpha2/service.pb.netconn.go
  machine/qemu/qmp/v7alpha2/service.proto
  machine/qemu/qmp/v7alpha2/sockets.pb.netconn.go
  machine/qemu/qmp/v7alpha2/sockets.proto
  machine/qemu/v1alpha1.go
  oci/pack.go
  tools/github-action/build.go
  tools/github-action/execute.go
  tools/github-action/go.mod
  tools/github-action/go.sum
  tools/github-action/main.go
  tools/github-action/pack.go
  tools/github-action/pull.go
Labels: kind/enhancement, area/tools, area/.github/workflows

#687 fix(rm): Check for empty set of arguments
  cmd/kraft/rm/rm.go
Labels: cmd/kraft/run, area/cmd
