Repository unikraft/kraftkit, pull requests merged in 2024-01, with the labels that each got.

#1129 fix(logs): Do not set `exitErr` on EOF
  internal/cli/kraft/logs/logs.go
Labels: kind/fix, area/internal

#1127 fix(app): Parse the resulting target's new `.config*`
  unikraft/app/application.go
Labels: kind/fix, area/unikraft

#1134 fix(initrd): Set the root as positional to the current working directory
  initrd/directory.go
  initrd/directory_test.go
  initrd/dockerfile.go
Labels: kind/fix

#1141 fix(goreleaser): Install kraftld for aur and nix
  .goreleaser-stable.yaml
Labels: kind/fix

#1025 feat(workflows): Do Mac notarization after releases
  .github/workflows/notarization.yaml
Labels: kind/enhancement, area/.github/workflows

#1154 refactor!: Upgrade automount KConfig and kernel parameter syntax
  internal/cli/kraft/pkg/packager_kraftfile_unikraft.go
  internal/cli/kraft/run/runner_kraftfile_runtime.go
  internal/cli/kraft/run/runner_kraftfile_unikraft.go
  internal/cli/kraft/run/runner_package.go
  internal/cli/kraft/run/utils.go
  internal/run/utils.go
  kconfig/config.go
  machine/firecracker/v1alpha1.go
  machine/qemu/v1alpha1.go
  tools/github-action/build.go
  unikraft/app/application.go
Labels: kind/enhancement

#1168 feat: Introduce `kraft start` subcommand
  config/config.go
  internal/cli/kraft/kraft.go
  internal/cli/kraft/logs/colorful_consumer.go
  internal/cli/kraft/logs/logs.go
  internal/cli/kraft/run/run.go
  internal/cli/kraft/start/start.go
  machine/network/iterator_v1alpha1.go
  machine/platform/filter.go
Labels: area/cmd

#1179 fix(tui): Correctly handle new `ctx` with custom log and iostreams out
  go.mod
  go.sum
  iostreams/iostreams.go
  tui/paraprogress/paraprogress.go
  tui/paraprogress/process.go
  tui/processtree/processtree.go
Labels: area/tui
